* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradeint(#e2f9e1, #fbe3df); */
  /* background-color: rgb(223, 177, 106); */
  background-color: #e2f9e1;
  background: linear-gradient(
    to top left,
    /* #73bc71, */ rgba(255, 192, 203, 0.863),
    to top right,
    #97d995e3
  );

  /* background-color: hsl(0, 0%, 90%); */
  /* background: #0e0e0e; */
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 37px;
}

.header {
  background-color: black;
  border: 50px solid black;
  /* position: sticky; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 8;
}
form {
  position: sticky;
  position: -webkit-sticky;
  top: 150px;
  z-index: 11;
}

.app-container form input {
  height: 30px;
  /* width: 50px; */
  outline: none;
  background-color: #acc2ac;
  /* z-index: 20; */
}

.hovered-black-bg {
  background: rgba(39, 35, 35, 0.442);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(137, 96, 96);
}
.electric {
  background-color: rgb(207, 207, 73);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #c79494;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #da968a;
}
.grass {
  background-color: #97d995e3;
}
.water {
  background-color: #77acd1;
}
.ground {
  background-color: #4f2e29;
}

.app-container {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 150px;
}
.pokemon-input {
  position: fixed;
  z-index: 10;
  top: 0;
  margin-top: 5px;
  width: 20%;
  height: 2rem;
}
.all-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* position: sticky;
  position: -webkit-sticky;
  top: 180px;
  z-index: 1; */
}
.thumb-container {
  /* border-radius: 7px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 4rem;
  border: 1px solid #efefef;
  border-radius: 0.8rem;
  min-width: 260px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.552);
  /* z-index: 0; */
}

.thumb-containerhovered {
  background-color: #444;
}

.thumb-containerhovered .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.thumb-containerhovered .detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.thumb-containerhovered small {
  text-transform: capitalize;
}
small {
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  max-width: 80px;
  border-radius: 5px;
  padding: 3px;
}

h3 {
  padding-left: 20px;
  margin-left: 40px;

  margin-bottom: 0.2rem;
  color: white;
  /* background-color: black; */
  border-radius: 30%;
  max-width: 50%;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.detail-wrapper h3 {
  margin-top: 18px;
}
.progress-bar {
  margin: 5px;
  overflow: hidden;
}
.load-more {
  background: #f5f5f5 linear-gradient(#f5f5f5, #f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
  cursor: pointer;
}
